.signin-btn {
    outline: none;
    border: none;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    width: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.radius {
  border-radius: 20px;
}