.radius {
  border-radius: 30px;
}
.custom-border {
    border: white 10px solid;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 7px;
}

.tiny-shadow {
  text-shadow: 4px 3px 0 #000000a2;
}

.text-justify {
  text-align: justify;
}