/* .orders {
  width: 350px;
  font-size: 13px;
  background-color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.order-list {
  display: flex;
  justify-content: space-between;
}
 */