.dashboard-text {
  font-size: 30px;
  color: #c7ad8b;
  text-align: center;
}

hr.new {
  border: 1px solid #c7ad8b;
}

.side-menu {
  background-color: #f1d7b5;
  color: white;
  font-weight: bold;
}

.dashboard-navText  {
  color: #ffffff;
  font-size: 12px;
}
.dashboard:hover {
  color: #ffffff;
}
.dashboard-active {
  color: #ffffff;
}
/* //////////////////// Media Queries ///////////////////// */

@media all and (max-width: 688px) {
}
